<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>SLmobiles</title>
        <!-- Bootstrap CSS -->
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous"
        />
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/styles.css" />
    
        <script src="/js/scripts.js"></script>
        
      </head>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <hr>

    <section>
      <div class="container" style="height: 400px;">
        <form action="/upload-phone-step-one" method="POST" name="addPhoneForm" enctype="multipart/form-data">
          <label for="phoneModel" class="form-label">Phone Model</label>
          <input type="text" class="form-control" name="phone_model" id="phoneModel" placeholder="(100) ex: Google Pixel 7a" required>
        
          <label for="phoneBrand">Select brand</label>
          <div class="form-floating">
            <select class="form-select" id="phoneBrand" name="phoneBrand" aria-label="Floating label select">
              <option selected>Select brand</option>
              <!-- if a brand changes here, change it in header too -->
              <option value="Apple">Apple</option>
              <option value="Samsung">Samsung</option>
              <option value="Xiaomi">Xiaomi</option>
              <option value="Sony">Sony</option>
              <option value="Google">Google</option>
              <option value="Huawei">Huawei</option>
              <option value="Oppo">Oppo</option>
              <option value="Vivo">Vivo</option>
              <option value="Nokia">Nokia</option>
              <option value="OnePlus">OnePlus</option>
              <option value="Realme">Realme</option>
              <option value="Tecno">Tecno</option>
              <option value="LG">LG</option>
              <option value="Honor">Honor</option>
              <option value="ZTE">ZTE</option>
              <option value="Sharp">Sharp</option>
              <option value="Infinix">Infinix</option>
              <option value="UMIDIGI">UMIDIGI</option>
              <option value="Moto">Moto</option>
              <option value="Digno">Digno</option>
              <option value="TLC">TLC</option>
              <option value="Itel">Itel</option>
              <option value="Greentel">Greentel</option>
              <option value="Nothing Phone">Nothing Phone</option>
              <option value="E-tel">E-tel</option>
              <option value="CAT">CAT</option>
              <option value="Micromax">Micromax</option>
              <option value="Asus">Asus</option>
              <option value="Lenovo">Lenovo</option>
              <option value="Fujitsu">Fujitsu</option>
            </select>
            <!-- <label for="floatingSelect">Works with selects</label> -->
          </div>
          
          <label for="releaseDate" class="form-label">Date Released</label>
          <input type="date" class="form-control" name="release_date" id="releaseDate">

          <label for="phoneImage" class="form-label">Select an Image</label>
          <input type="file" accept="image/*" class="form-control" name="phone_image" id="phoneImage" required>

          <button type="submit" class="btn btn-primary mt-2">Next</button>
        </form>
      </div>
    </section>
 
    <!-- Footer -->
    <%-include('../partials/footer') %>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
      crossorigin="anonymous"
    ></script> 
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    
</body>
</html>