<footer class=" mt-auto ">
  <!-- footer content or partial HTML files -->
  <!-- Example: <include src="views/partials/footer.html"></include> -->
  <div class="d-flex flex-column align-items-center mt-2" style=" background-color: #0174BE;">
    
      <ul class="nav pt-2">
        <li class="nav-item">
          <a class="nav-link active text-light" href="/q/terms_and_conditions">Terms and Conditions</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="/q/privacy_policy">Privacy Policy</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="/suggest_device">Suggest a Device</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="/q/contact_us">Contact us</a>
        </li>
      </ul>

      <p class="text-light" style="margin-top: 25px;">&copy; 2024 SLmobiles. All rights reserved.</p>
    
  </div>
</footer>