<footer class="">
  <!-- footer content or partial HTML files -->
  <!-- Example: <include src="views/partials/footer.html"></include> -->
  <div class="d-flex bg-primary align-items-center mt-2" style="height: 150px">
    <div class="container text-center">
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link active text-light" href="/#">FAQ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active text-light" href="/#">Privacy Policy</a>
        </li>
      </ul>

      <p class="text-light">&copy; 2023 SLmobiles. All rights reserved.</p>
    </div>
  </div>
</footer>