<footer class="">
  <!-- footer content or partial HTML files -->
  <!-- Example: <include src="views/partials/footer.html"></include> -->
  <div
    class="d-flex bg-primary justify-content-center align-items-center mt-2"
    style="height: 100px"
  >
    <p class="text-light">&copy; 2023 SLmobiles. All rights reserved.</p>
  </div>
</footer>
