<header >
  <nav class="navbar sticky-top navbar-expand-sm" aria-label="Third navbar example">
    <div class="container-fluid">
        
        <button class="navbar-toggler" 
            type="button" 
            data-bs-toggle="collapse" 
            data-bs-target="#navbarslm"
            aria-controls="navbarslm" 
            aria-expanded="false" 
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <a class="navbar-brand" href="/">SLmobiles</a>

        <div class="collapse navbar-collapse d-lg-flex " id="navbarslm">
            <ul class="navbar-nav justify-content-lg-center ms-auto mb-2 pe-5 mb-sm-0">
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">All Brands</a>
                    <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;" >
                        <li><a class="dropdown-item" href="/brand/Apple">Apple</a></li>
                        <li><a class="dropdown-item" href="/brand/Samsung">Samsung</a></li>
                        <li><a class="dropdown-item" href="/brand/Xiaomi">Xiaomi</a></li>
                        <li><a class="dropdown-item" href="/brand/Sony">Sony</a></li>
                        <li><a class="dropdown-item" href="/brand/Google">Google</a></li>
                        <li><a class="dropdown-item" href="/brand/Huawei">Huawei</a></li>
                        <li><a class="dropdown-item disabled" href="/brand/Oppo">Oppo</a></li>
                        <li><a class="dropdown-item" href="/brand/Vivo">Vivo</a></li>
                        <li><a class="dropdown-item" href="/brand/Nokia">Nokia</a></li>
                        <li><a class="dropdown-item" href="/brand/OnePlus">OnePlus</a></li>
                        <li><a class="dropdown-item" href="/brand/Realme">Realme</a></li>
                        <li><a class="dropdown-item" href="/brand/Tecno">Tecno</a></li>
                        <li><a class="dropdown-item" href="/brand/LG">LG</a></li>
                        <li><a class="dropdown-item" href="/brand/Honor">Honor</a></li>
                        <li><a class="dropdown-item" href="/brand/ZTE">ZTE</a></li>
                        <li><a class="dropdown-item" href="/brand/Sharp">Sharp</a></li>
                        <li><a class="dropdown-item" href="/brand/Infinix">Infinix</a></li>
                        <li><a class="dropdown-item" href="/brand/UMIDIGI">UMIDIGI</a></li>
                        <li><a class="dropdown-item" href="/brand/Moto">Moto</a></li>
                        <li><a class="dropdown-item" href="/brand/Digno">Digno</a></li>
                        <li><a class="dropdown-item" href="/brand/TLC">TLC</a></li>
                        <li><a class="dropdown-item" href="/brand/Itel">Itel</a></li>
                        <li><a class="dropdown-item" href="/brand/Greentel">Greentel</a></li>
                        <li><a class="dropdown-item" href="/brand/Nothing Phone">Nothing Phone</a></li>
                        <li><a class="dropdown-item" href="/brand/E-tel">E-tel</a></li>
                        <li><a class="dropdown-item" href="/brand/CAT">CAT</a></li>
                        <li><a class="dropdown-item" href="/brand/Micromax">Micromax</a></li>
                        <li><a class="dropdown-item" href="/brand/Asus">Asus</a></li>
                        <li><a class="dropdown-item" href="/brand/Lenovo">Lenovo</a></li>
                        <li><a class="dropdown-item" href="/brand/Fujitsu">Fujitsu</a></li>
                    </ul>
                </li>
                
                <li class="nav-item">
                    <a class="nav-link " href="/suggest-a-device">Suggest a Device</a>
                </li>
                
                <!-- <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li> -->
                
            </ul>
            <!-- it's posible to use  '/login' directly. but this approach gives more control -->
        </div>
        <a class="btn btn d-lg-flex" role="button" href="/login">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="blue" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z" />
            <path
                fill-rule="evenodd"
                d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"
            />
            </svg>
        </a>
        
    </div>
    
  </nav>
</header>
