<header>
    <nav class="navbar sticky-top navbar-expand-sm" aria-label="navbar">
        <div class="container-fluid">

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarslm"
                aria-controls="navbarslm" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- logo -->
            <a class="navbar-brand py-0" href="/">
                <svg version="1.1" id="Layer_2" x="0px" y="0px" viewBox="0 0 1000 230" xml:space="preserve" width="250"
                    height="50" xmlns="http://www.w3.org/2000/svg" xmlns:svg="http://www.w3.org/2000/svg">
                    <defs id="defs23" />
                    <style type="text/css" id="style2">
                        .st0 {
                            fill: #999898;
                        }

                        .st1 {
                            fill: #5780b6;
                        }

                        .st2 {
                            fill: none;
                        }

                        .st3 {
                            display: none;
                        }

                        .st4 {
                            font-family: 'DesignerBlock';
                        }

                        .st5 {
                            font-size: 194px;
                        }
                    </style>
                    <g id="XMLID_15_" transform="translate(3.8901931e-8,-335.21162)">
                        <path id="XMLID_18_" class="st0"
                            d="m 415.9,534 c 0,3.9 -1.2,7.1 -3.6,9.6 -2.4,2.5 -5.6,3.8 -9.5,3.8 -4,0 -7.3,-1.2 -9.8,-3.7 -2.5,-2.5 -3.7,-5.7 -3.7,-9.7 V 475.2 H 370.1 V 534 c 0,4 -1.2,7.2 -3.5,9.7 -2.3,2.5 -5.5,3.7 -9.5,3.7 -4,0 -7.2,-1.2 -9.5,-3.7 -2.3,-2.5 -3.5,-5.7 -3.5,-9.7 v -58.8 h -19 V 534 c 0,4 -1.2,7.2 -3.7,9.7 -2.5,2.5 -5.7,3.7 -9.8,3.7 -3.9,0 -7.1,-1.2 -9.5,-3.7 -2.4,-2.5 -3.6,-5.7 -3.6,-9.7 v -55.7 c 0,-8 2.8,-15 8.6,-21 5.6,-5.8 12.6,-8.7 21,-8.7 h 58.3 c 8.3,0 15.3,2.9 21,8.7 5.7,6 8.6,12.9 8.6,21 V 534 Z" />
                        <path id="XMLID_21_" class="st0"
                            d="m 521.2,517.5 c 0,8.3 -2.9,15.3 -8.7,21.1 -5.8,5.8 -12.8,8.7 -21.1,8.7 h -40.3 c -8.3,0 -15.3,-2.9 -21.1,-8.7 -5.7,-5.9 -8.5,-13 -8.5,-21.1 v -39.2 c 0,-8.3 2.8,-15.3 8.5,-21 5.8,-5.8 12.8,-8.7 21.1,-8.7 h 40.3 c 8.3,0 15.3,2.9 21.1,8.7 5.8,5.7 8.7,12.7 8.7,21 z m -26.5,3.1 v -45.4 h -46.6 v 45.4 z" />
                        <path id="XMLID_24_" class="st0"
                            d="m 627,518.1 c 0,8.4 -2.9,15.4 -8.7,21 -5.9,5.7 -13,8.5 -21.1,8.5 h -40.3 c -8,0 -15,-2.8 -20.9,-8.5 -5.8,-5.8 -8.7,-12.8 -8.7,-21 v -19.8 c 0,-3.9 1.2,-7 3.7,-9.4 2.5,-2.4 5.7,-3.6 9.7,-3.6 4,0 7.2,1.2 9.6,3.6 2.4,2.4 3.6,5.5 3.6,9.4 v 23.1 h 46.6 v -46.9 h -59.9 c -3.5,0 -6.6,-1.3 -9.2,-3.8 -2.7,-2.5 -4,-5.5 -4,-9 v -35.9 c 0,-4 1.2,-7.2 3.7,-9.5 2.5,-2.3 5.7,-3.5 9.7,-3.5 4,0 7.2,1.2 9.6,3.5 2.4,2.3 3.6,5.5 3.6,9.5 v 22.9 h 43.3 c 8.5,0 15.5,2.8 21.1,8.3 5.8,5.4 8.7,12.2 8.7,20.4 v 40.7 z" />
                        <path id="XMLID_27_" class="st1"
                            d="m 663.8,425.7 c 0,3.9 -1.6,7.1 -4.8,9.5 -3.2,2.4 -6.8,3.6 -10.8,3.6 -4,0 -7.6,-1.2 -10.7,-3.6 -3.1,-2.4 -4.7,-5.6 -4.7,-9.5 0,-3.9 1.6,-7.1 4.7,-9.5 3.1,-2.4 6.7,-3.6 10.7,-3.6 4,0 7.6,1.2 10.8,3.6 3.2,2.4 4.8,5.6 4.8,9.5 z" />
                        <path id="XMLID_28_" class="st0"
                            d="m 663.8,534.2 c 0,4.1 -1.5,7.4 -4.6,9.7 -3,2.3 -6.7,3.5 -11,3.5 -4.3,0 -7.9,-1.2 -10.9,-3.5 -3,-2.3 -4.5,-5.6 -4.5,-9.7 v -72.6 c 0,-4.1 1.5,-7.3 4.5,-9.6 3,-2.3 6.6,-3.4 10.9,-3.4 4.3,0 7.8,1 10.7,3.1 3.2,2.5 4.8,5.8 4.8,9.9 v 72.6 z" />
                        <path id="XMLID_29_" class="st0"
                            d="m 700.5,534.2 c 0,4.1 -1.5,7.4 -4.6,9.7 -3,2.3 -6.7,3.5 -11,3.5 -4.3,0 -7.9,-1.2 -10.9,-3.5 -3,-2.3 -4.5,-5.6 -4.5,-9.7 V 425.8 c 0,-4 1.6,-7.3 4.7,-9.9 2.8,-2.1 6.4,-3.1 10.7,-3.1 4.3,0 7.8,1 10.7,3.1 3.2,2.5 4.8,5.8 4.8,9.9 v 108.4 z" />
                        <path id="XMLID_31_" class="st0"
                            d="m 806.2,534.2 c 0,3.9 -1.2,7.1 -3.7,9.5 -2.5,2.5 -5.6,3.7 -9.5,3.7 h -57 c -8.3,0 -15.3,-2.9 -21.1,-8.7 -5.7,-6 -8.5,-13 -8.5,-21.2 V 478 c 0,-8.3 2.8,-15.3 8.5,-21 5.9,-5.7 13,-8.6 21.1,-8.6 h 39.6 c 8.9,0 16.3,2.9 22.1,8.8 5.3,5.3 8.1,12.3 8.3,21 v 20 c 0,1.7 -0.4,3.3 -1.1,4.9 -0.7,1.6 -1.7,3 -2.9,4.2 -1.2,1.2 -2.7,2.2 -4.3,2.9 -1.6,0.7 -3.3,1.1 -4.9,1.1 h -36.7 c -3.9,0 -7.1,-1.2 -9.5,-3.7 -2.5,-2.5 -3.7,-5.6 -3.7,-9.3 0,-3.6 1.2,-6.7 3.7,-9.1 2.5,-2.5 5.6,-3.7 9.5,-3.7 h 23.5 v -10.9 h -46.8 v 46.6 H 793 c 3.8,0 6.9,1.2 9.4,3.7 2.6,2.5 3.8,5.6 3.8,9.3 z" />
                        <path id="XMLID_33_" class="st0"
                            d="m 911.9,518.5 c 0,8.1 -2.9,15 -8.7,20.6 -5.7,5.6 -12.7,8.3 -21,8.3 h -57 c -3.9,0 -7.1,-1.2 -9.5,-3.6 -2.5,-2.4 -3.7,-5.6 -3.7,-9.5 0,-3.9 1.2,-7.1 3.7,-9.5 2.5,-2.4 5.6,-3.6 9.5,-3.6 h 60.1 v -10.3 h -43.7 c -8.4,0 -15.5,-2.8 -21.1,-8.3 -5.7,-5.7 -8.5,-12.5 -8.5,-20.6 v -4.5 c 0,-7.9 2.9,-14.7 8.7,-20.4 5.9,-5.7 12.9,-8.5 21,-8.5 h 57 c 3.9,0 7,1.2 9.5,3.6 2.5,2.4 3.7,5.5 3.7,9.2 0,3.9 -1.2,7 -3.7,9.4 -2.5,2.4 -5.6,3.6 -9.5,3.6 h -60.1 v 10.7 h 43.5 c 8.3,0 15.3,2.8 21,8.3 5.9,5.6 8.9,12.4 8.9,20.6 v 4.5 z" />
                    </g>
                    <g id="XMLID_10_" transform="translate(3.8901931e-8,-335.21162)">
                        <path id="XMLID_11_" class="st1"
                            d="m 188,519.3 c 0,7.2 -2.9,13.7 -8.7,19.5 -5.7,5.7 -12.7,8.5 -21,8.5 h -57 c -4,0 -7.2,-1.2 -9.6,-3.7 -2.4,-2.5 -3.6,-5.7 -3.6,-9.7 0,-3.6 1.2,-6.7 3.6,-9.1 2.4,-2.5 5.6,-3.7 9.6,-3.7 h 60.1 v -27.9 h -43.8 c -8.8,0 -16,-2.9 -21.5,-8.7 -5.3,-5.3 -8,-12.3 -8,-21 v -20.8 c 0,-8.3 2.8,-15.4 8.5,-21.3 5.8,-5.8 12.9,-8.7 21.1,-8.7 h 57 c 3.9,0 7,1.2 9.5,3.7 2.5,2.5 3.7,5.6 3.7,9.5 0,3.8 -1.2,6.9 -3.7,9.3 -2.5,2.5 -5.6,3.7 -9.5,3.7 H 114.6 V 467 h 43.5 c 8.1,0 15.2,2.8 21.1,8.5 5.8,5.7 8.7,12.6 8.7,20.9 v 22.9 z" />
                        <path id="XMLID_13_" class="st1"
                            d="m 281.9,535.2 c 0,8.1 -4.4,12.2 -13.2,12.2 h -47.3 c -18.4,0 -27.5,-9.2 -27.5,-27.5 v -91.4 c 0,-10.5 4.7,-15.7 14,-15.7 3.6,0 6.6,1.4 9,4.2 2.4,2.8 3.6,6.2 3.6,10.4 v 95.1 H 269 c 3.7,0 6.9,1.2 9.3,3.6 2.3,2.3 3.6,5.3 3.6,9.1 z" />
                    </g>
                    <rect id="XMLID_19_" x="287" y="159" class="st2" width="680.90002" height="258.20001" />

                    <rect id="XMLID_17_" x="76.5" y="159" class="st2" width="378" height="267" />

                </svg>
            </a>

            <div class="collapse navbar-collapse d-lg-flex " id="navbarslm">
                <ul class="navbar-nav justify-content-lg-center ms-auto mb-2 pe-5 mb-sm-0">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">All
                            Brands</a>
                        <ul class="dropdown-menu" style="max-height: 400px; overflow-y: auto;">
                            <!-- if a brand changes here, change it in add-phone.ejs too -->
                            <li><a class="dropdown-item" href="/brand/Apple/page/1">Apple</a></li>
                            <li><a class="dropdown-item" href="/brand/Samsung/page/1">Samsung</a></li>
                            <li><a class="dropdown-item" href="/brand/Xiaomi/page/1">Xiaomi</a></li>
                            <li><a class="dropdown-item" href="/brand/Sony/page/1">Sony</a></li>
                            <li><a class="dropdown-item" href="/brand/Google/page/1">Google</a></li>
                            <li><a class="dropdown-item" href="/brand/Huawei/page/1">Huawei</a></li>
                            <li><a class="dropdown-item disabled" href="/brand/Oppo/page/1">Oppo</a></li>
                            <li><a class="dropdown-item" href="/brand/Vivo/page/1">Vivo</a></li>
                            <li><a class="dropdown-item" href="/brand/Nokia/page/1">Nokia</a></li>
                            <li><a class="dropdown-item" href="/brand/OnePlus/page/1">OnePlus</a></li>
                            <li><a class="dropdown-item" href="/brand/Realme/page/1">Realme</a></li>
                            <li><a class="dropdown-item" href="/brand/Tecno/page/1">Tecno</a></li>
                            <li><a class="dropdown-item" href="/brand/LG/page/1">LG</a></li>
                            <li><a class="dropdown-item" href="/brand/Honor/page/1">Honor</a></li>
                            <li><a class="dropdown-item" href="/brand/ZTE/page/1">ZTE</a></li>
                            <li><a class="dropdown-item" href="/brand/Sharp/page/1">Sharp</a></li>
                            <li><a class="dropdown-item" href="/brand/Infinix/page/1">Infinix</a></li>
                            <li><a class="dropdown-item" href="/brand/UMIDIGI/page/1">UMIDIGI</a></li>
                            <li><a class="dropdown-item" href="/brand/Moto/page/1">Moto</a></li>
                            <li><a class="dropdown-item" href="/brand/Digno/page/1">Digno</a></li>
                            <li><a class="dropdown-item" href="/brand/TLC/page/1">TLC</a></li>
                            <li><a class="dropdown-item" href="/brand/Itel/page/1">Itel</a></li>
                            <li><a class="dropdown-item" href="/brand/Greentel/page/1">Greentel</a></li>
                            <li><a class="dropdown-item" href="/brand/Nothing Phone/page/1">Nothing Phone</a></li>
                            <li><a class="dropdown-item" href="/brand/E-tel/page/1">E-tel</a></li>
                            <li><a class="dropdown-item" href="/brand/CAT/page/1">CAT</a></li>
                            <li><a class="dropdown-item" href="/brand/Micromax/page/1">Micromax</a></li>
                            <li><a class="dropdown-item" href="/brand/Asus/page/1">Asus</a></li>
                            <li><a class="dropdown-item" href="/brand/Lenovo/page/1">Lenovo</a></li>
                            <li><a class="dropdown-item" href="/brand/Fujitsu/page/1">Fujitsu</a></li>
                        </ul>
                    </li>

                    <!-- <li class="nav-item">
                    <a class="nav-link" href="/about-us">About Us</a>
                </li> -->

                </ul>
            </div>

        </div>

    </nav>
</header>