<div class="card mt-2">
    <div class="card-body pb-0">
        <p>review id :</p>
        <p>post by :</p>
        <p>date :</p>
        <p>score :</p>
        <p>review :</p>
        <p>phone :</p>
        <p>status :</p>
    </div>
</div>