<form action="/search" method="get" class="col form-check-inline d-flex mx-0">
    <input
      class="form-control"
      type="search"
      placeholder="Search phone..."
      aria-label="Search"
      id="seachString"
      name="searchQuery"
      style="width: 200px;"
    />
    <button type="submit" class="btn btn-outline-light ms-2">
      Search
    </button>
  </form> 