
<div class="tab-pane fade" id="specs" role="tabpanel" aria-labelledby="specs-tab">
    <div>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Launch</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Released</td>
                    <td>2023, May 10</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Dimensions</td>
                    <td>152 x 72.9 x 9 mm</td>
                </tr>
                <tr>
                    <td>Weight</td>
                    <td>193.5g</td>
                </tr>
                
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Display</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Size</td>
                    <td>
                        6.1 inches
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">OS</td>
                    <td>Android 13</td>
                </tr>
                <tr>
                    <td class="td-width">Chipset</td>
                    <td>Google Tensor G2 (5 nm)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Internal</td>
                    <td>128GB 8GB RAM</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Main Camera</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Dual</td>
                    <td>
                        64 MP, f/1.9, 26mm (wide)<br>
                        13 MP, f/2.2, 120˚ (ultrawide)
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Selfie Camera</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Single</td>
                    <td>13 MP, f/2.2, 20mm (ultrawide)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Battery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Type</td>
                    <td>Li-Po 4385 mAh</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>