<div class="tab-pane fade" id="specs" role="tabpanel" aria-labelledby="specs-tab">
    <div class="text-xs">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Network</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Technology</td>
                    <td>GSM / HSPA / LTE / 5G</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Launch</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Announced</td>
                    <td>2023, May 10</td>
                </tr>
                <tr>
                    <td class="td-width">Status</td>
                    <td>Available. Released 2023, May 10</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Body</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Dimensions</td>
                    <td>152 x 72.9 x 9 mm</td>
                </tr>
                <tr>
                    <td class="td-width">Weight</td>
                    <td>193.5g</td>
                </tr>
                <tr>
                    <td class="td-width">Build</td>
                    <td>
                        Glass front (Gorilla Glass 3), aluminum frame, plastic
                        back
                    </td>
                </tr>
                <tr>
                    <td class="td-width">SIM</td>
                    <td>Nano-SIM and eSIM</td>
                </tr>
                <tr>
                    <td class="td-width"></td>
                    <td>IP67 dust/water resistant (up to 1m for 30 min)</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Display</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Type</td>
                    <td>OLED, HDR, 90Hz</td>
                </tr>
                <tr>
                    <td class="td-width">Size</td>
                    <td>
                        6.1 inches, 90.7 cm2 (~81.8% screen-to-body ratio)
                    </td>
                </tr>
                <tr>
                    <td class="td-width">Resolution</td>
                    <td>1080 x 2400 pixels, 20:9 ratio (~429 ppi density)</td>
                </tr>
                <tr>
                    <td class="td-width">Protection</td>
                    <td>Corning Gorilla Glass 3</td>
                </tr>
                <tr>
                    <td class="td-width"></td>
                    <td>Always-on display</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Platform</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">OS</td>
                    <td>Android 13</td>
                </tr>
                <tr>
                    <td class="td-width">Chipset</td>
                    <td>Google Tensor G2 (5 nm)</td>
                </tr>
                <tr>
                    <td class="td-width">CPU</td>
                    <td>
                        Octa-core (2x2.85 GHz Cortex-X1 & 2x2.35 GHz Cortex-A78
                        & 4x1.80 GHz Cortex-A55)
                    </td>
                </tr>
                <tr>
                    <td class="td-width">GPU</td>
                    <td>Mali-G710 MP7</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Memory</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Card slot</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="td-width">Internal</td>
                    <td>128GB 8GB RAM</td>
                </tr>
                <tr>
                    <td class="td-width"></td>
                    <td>UFS 3.1</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Main Camera</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Dual</td>
                    <td>
                        64 MP, f/1.9, 26mm (wide), 1/1.73", 0.8µm, Dual Pixel
                        PDAF, OIS 13 MP, f/2.2, 120˚ (ultrawide), 1.12µm
                    </td>
                </tr>
                <tr>
                    <td class="td-width">Features</td>
                    <td>Dual-LED flash, Pixel Shift, Auto-HDR, panorama</td>
                </tr>
                <tr>
                    <td class="td-width">Video</td>
                    <td>4K@30/60fps, 1080p@30/60/120/240fps, OIS</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Selfie Camera</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Single</td>
                    <td>13 MP, f/2.2, 20mm (ultrawide), 1.12µm</td>
                </tr>
                <tr>
                    <td class="td-width">Features</td>
                    <td>Auto-HDR, panorama</td>
                </tr>
                <tr>
                    <td class="td-width">Video</td>
                    <td>4K@30fps, 1080p@30fps</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Sound</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Loudspeaker</td>
                    <td>Yes, with stereo speakers</td>
                </tr>
                <tr>
                    <td class="td-width">3.5mm jack</td>
                    <td>No</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Comms</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">WLAN</td>
                    <td>Wi-Fi 802.11 a/b/g/n/ac/6e, tri-band</td>
                </tr>
                <tr>
                    <td class="td-width">Bluetooth</td>
                    <td>5.3, A2DP, LE</td>
                </tr>
                <tr>
                    <td class="td-width">NFC</td>
                    <td>Yes</td>
                </tr>
                <tr>
                    <td class="td-width">Radio</td>
                    <td>No</td>
                </tr>
                <tr>
                    <td class="td-width">USB</td>
                    <td>USB Type-C 3.2</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Features</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Sensors</td>
                    <td>
                        Fingerprint (under display, optical), accelerometer,
                        gyro, proximity, compass, barometer
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Battery</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Type</td>
                    <td>Li-Po 4385 mAh, non-removable</td>
                </tr>
                <tr>
                    <td class="td-width">Charging</td>
                    <td>18W wired, PD3.0</td>
                </tr>
                <tr>
                    <td class="td-width"></td>
                    <td>7.5W wireless</td>
                </tr>
            </tbody>
        </table>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Variations</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="td-width">Colors</td>
                    <td>Charcoal, Snow, Sea, Coral</td>
                </tr>
                <tr>
                    <td class="td-width">Models</td>
                    <td>GWKK3, GHL1X, G0DZQ, G82U8</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>