<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slmobiles</title>
</head>

<body class="d-flex flex-column min-vh-100">
    <%- include('partials/header') %>
    <main>
        <H3>An error occered. Please try again later!</H3>

    </main>
    <%-include('partials/footer') %>
</body>

</html>