.navbar-brand {
    color: #11757c;
}

.card{
    height: 100%;
    padding: 5px;
}

h5{
    text-align: center;
    font-size: 16px;
}

.phone-card-link{
    text-decoration: none;
}

@media (max-width:576px){
    .text-xs{
      font-size: 13px;
    }
  }